<!doctype html>
<html>
<head>
    <title>{% block title %}Shoe Stopping{% endblock %}</title>
     <link rel="stylesheet"  type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>

    <div class="container-fluid">
        <h1>
            Welcome to Shoe Spotting
            <img src= "http://www.fashionmike.com/files/2012/06/types-of-womens-shoes.jpg">
        </h1>
    </div>



{% if "user_id" in session %}
    <a href="/logout">Logout</a>
{% else %}
    <a href="/login"><button type="button" class="btn btn-info">Login</button></a>
{% endif %}

<!-- <hr> -->

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}

</body>
</html>