{% extends 'base.html' %}
{% block content %}

    <h3>Your Profile Page</h3>

    <div>
       <a class="btn btn-info btn-lg" href = "/add-post" role="button">Add Shoe Post</a>
    </div>
    <ul>
      {% for post in posts %}
      <li class="shoe-entry">
        <a href="/post/{{ post.post_id }}">
          <h4>{{ post.title }} {{ post.text}}</h4>
          <img class="shoe-image" src="{{ post.img_url}}"/>

          <div>
            {{ post.added_at.strftime("%A, %B %d, %Y")}}
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
{% endblock %}