{% extends 'base.html' %}
{% block content %}

    <h2>Shoe Spotting</h2> <i> showing shoes in their natural habitat</i>
    <ul>
    {% for post in posts %}
      <li class="shoe-entry">
          <a href="/post/{{ post.post_id }}">
            <h4>{{ post.title }} {{ post.text}}</h4>
            <img class="shoe-image" src="{{ post.img_url}}"/>

            <div>
              {{ post.added_at.strftime("%A, %B %d, %Y")}}
            </div>
          </a>
      </li>
    {% endfor %}
    </ul>
  

{% endblock %}