<!doctype html>
{% extends 'base.html' %}
{% block content %}    



<div class="card text-center" style="max-width: 500px;">
    <div class="row container-fluid">
         <div class="col-sm-12">
            <div class="card-block">
        <h1 class="card-title">Welcome to Shoe Spotting</h1>
        
            <img src= "http://www.fashionmike.com/files/2012/06/types-of-womens-shoes.jpg">
    </div>
    </div>
</div>
</div>

    <div>
       <button type="button" class="btn btn-info"><a href = "/feed">Shoe Feed</a></button>
    </div>
{% endblock %}
